body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1616;
    color: #fff;
}

#nattklubb {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

#nattklubb-red-color {
    color: #FA4C5D;
}

.nattklubb-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.nattklubb-grid-item {
    border: 6px solid #FA4C5D;
    padding: 10px;
    text-align: center;
}

.nattklubb-grid-item img {
    width: 100%;
    height: auto;
}

.nattklubb-kommande-event-container {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.kommande-event {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 14rem;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #FA4C5D;
    align-items: center;
    background-color: #f31f1f;
}

.nattklubb-event-button {
    padding: 1rem;
    margin-top: 1rem;
    font-size: 15px;
    background-color: #801515;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 100%;
}

.nattklubb-event-button:hover {
    background-color: #fff;
    color: #f3261f;
    border: 1px solid #f3261f;
}

.nattklubb-event-button:active {
    opacity: 0.7;
}

#nattklubb-kommande-event-titel {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.kommande-event-test {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#nattklubb-img1,
#nattklubb-img2,
#nattklubb-img3 {
    transition: scale, 0.5s;
}

#nattklubb-img1:hover,
#nattklubb-img2:hover,
#nattklubb-img3:hover {
    transform: scale(1.015);
}