
#trolleriklubb {
   background-color: rgb(25, 25, 25);
   color: white;
}

#trolleri-logga {
    border-radius: 5px;
    display: inline-flex;
    padding: 1rem;
}

#trolleri-logga-container {
    display: flex;
    justify-content: center;
}

#orange-color{
    color: #c45c2b;
}

.trolleri-info {
    border: 2px solid #c45c2b;
    text-align: center;
    border-radius: 5px;
    height: auto;
    width: 50rem;
    padding: 1rem;
}

.trolleri-info-container {
    display: flex;
    justify-content: center;
}

.trolleri-info > p {
    font-size: 17px;
}

#trolleri-hatt {
    width: 5rem;
    float: right;

}

.trolleri-kommande-event-container{
    padding: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.trolleri-kommande-event-container > h3 {
    text-align: center;
}

.trolleri-kommande-event-test{
    display: flex;
    flex-wrap: wrap;
}

.trolleri-kommande-event {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 14rem;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #c45c2b;
}

.trolleri-kommande-event > button {
    padding: 1rem;
    margin-top: auto;
    font-size: 15px;
    background-color: #c45c2b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.trolleri-kommande-event > button:hover{
    background-color: rgb(25, 25, 25);
    border: 1px solid #c45c2b;
}

.trolleri-kommande-event > button:active{
    opacity: 0.7;
}

#trolleri-kommande-event-titel {
    font-size: 2rem;
}

#trolleri-dialog {
    width: 35rem;
    height: 10rem;
    position: fixed;
    border-radius: 5px;
    margin: auto;
    background-color: rgb(25, 25, 25);
    border: 5px solid #c45c2b;
}

#trolleri-dialog-h3 {
    padding: 1rem;
    margin-top: 1rem;
    color: white;
}

#trolleri-close-dialog {
    width: 10rem;
    padding: 0.5rem;
    border: 2px solid #c45c2b;
    border-radius: 5px;
    cursor: pointer;
    background-color: #c45c2b;
    color: white;
}

#trolleri-close-dialog:hover {
    background-color: rgb(25, 25, 25);
    border: 2px solid #c45c2b;
}

#trolleri-close-dialog:active {
    opacity: 0.7;
}

#trolleri-dialog-div {
    text-align: center;
}

dialog::backdrop {
    background-color: #0000005a;
}