
#trolleriklubb {
   background-color: rgb(25, 25, 25);
   color: white;
}

#logga {
    border-radius: 5px;
    display: inline-flex;
    padding: 1rem;
}

#logga-container {
    display: flex;
    justify-content: center;
}

#orange-color{
    color: #c45c2b;
}

.trolleri-info {
    border: 2px solid #c45c2b;
    text-align: center;
    border-radius: 5px;
    height: auto;
    width: 50rem;
    padding: 1rem;
}

.trolleri-info-container {
    display: flex;
    justify-content: center;
}

.trolleri-info > p {
    font-size: 17px;
}

#trolleri-hatt {
    width: 5rem;
    float: right;

}

.kommande-event-container{
    padding: 1rem;
    
    flex-wrap: wrap;
}

.kommande-event-test{
    display: flex;
}

.kommande-event {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 14rem;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #c45c2b;
}

.kommande-event > button {
    padding: 1rem;
    margin-top: 1rem;
    font-size: 15px;
    background-color: #c45c2b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.kommande-event > button:hover{
    background-color: rgb(25, 25, 25);
    border: 1px solid #c45c2b;
}

.kommande-event > button:active{
    opacity: 0.7;
}

#kommande-event-titel {
    font-size: 2rem;
}
